﻿@media(min-width: 768px){
    
    .nvbr1{
        margin-top: 9px;
    }
    .nvbr2{
        margin-top: 17px;
    }
    .nvbr8{
        margin-left: 88px;
    padding-right: 15px;
    margin-right:0px;
    }
    
    .nvbr4{
        margin-top: 6px;
    }
   .kllnc1{
       width: 272px;
    height: 39px;
   }
    
   .sifre1{
     width: 272px;
    height: 39px;
}
   .tumu{
    width: 272px;
    height: 39px;
   }
   .dv1{
       padding-right: 28px;
   }
   .dv5{
           padding-left: 5px;
   }
   .dv3{
       padding-left: 28px;
   }
   .dv4{
       padding-left: 29px;
   }
  .genelrsm{
      margin-right: 21px;
  }
  .admin{
      bottom: 9px;
  }



}



@media(max-width: 768px){
    .kckken{
        text-align:left !important;
    }

}

.renkadmn{
    color:white !important;
}
.renkadmn:hover{
    color:#6e6e6e !important;
}
.glr{
    margin-top: 100px;
    margin-bottom: 70px;
  }

.glr{
    color: #2b2b2b;
    text-align: center;
}
.gnlrsm div>img {
        width: 100%;
        margin-bottom: 30px;
}

.tumu{
    border: 1px solid #6e6e6e;
}
.kayit{
    margin-top: 100px;
    text-align: center;
}
.ortakmrgn{
    margin-bottom:29px;
    color: #2b2b2b;
}
.yazistyle{
        font-family: cursive, sans-serif;

}
.yzrenk{
    color:#2b2b2b;
}
.navbyt{
        height: 70px;
    }

.navrenk{
        border: none !important;
    background-color: #2B2B2B;
 }

.renk {
    color:white !important;
}
.renk:hover{
    color:#6E6E6E !important;
    
}
.sbt{
    border-right: 1px solid white;
    padding-right: 6px;
}
.kucukrnk{
    background-color:#2B2B2B;
}

.resim{
    margin-top: 20px;
    width: 100%;
}
.rsmbyt{
    padding-left: 0px;
    padding-right: 0px;
}
.rowicin{
    margin-top: 50px;
    text-align: center;
    word-wrap: break-word;
}
.ulicin{
 text-align: left;
}
.footrenk{
    color:#6e6e6e;
    margin-right: 13px;
}

.footrenk:hover{
    color:#2b2b2b;
}

.hkkımda{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

 .formicin{
        margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.kllnc{
    margin-right: 58px;
    margin-bottom: 29px;
    border: 1px solid #6e6e6e;
   }
.rnkfrm{
    color:#2b2b2b;
}
.sifre{
        margin-bottom: 12px;
    border: 1px solid #6e6e6e;
    
}
.bttn{
    margin-left: 53px;
    background-color: white;
    width: 64px;
    height: 36px;
    border: 1px solid #6e6e6e;
    -webkit-box-shadow: 0 5px 8px -3px;
    color: #2b2b2b;
}
.bttn2{
    background-color: white;
    -webkit-box-shadow: 0 5px 8px -3px;
    border: 1px solid #6e6e6e;
    width: 64px;
    height: 36px;
   color: #2b2b2b;
    margin-left: 75px;
}
.bttn:hover{
    background-color:#6e6e6e;
    width:69px;
    height:41px;
}
.bttn2:hover{
    background-color:#6e6e6e;
    width:69px;
    height:41px;
}
.odk{
    margin-top: 70px;
    text-align: center;
    margin-bottom: 50px;
    color: #2b2b2b;
}
.ustrow{
        margin-bottom: 50px;
}
.admn{
        text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.eklme{
    border: 1px solid #6e6e6e;
    color: #2b2b2b;
    font-size: large;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.eklme:hover{
     padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    background-color:#6e6e6e;
    text-decoration:none;
    color:white;
}
.altcol{
        margin-top: 50px;
    margin-bottom: 35px;
}
.pye{
    margin-bottom: 30px;
}
.bttn3{
    background-color: white;
    -webkit-box-shadow: 0 5px 8px -3px;
    border: 1px solid #6e6e6e;
    width: 64px;
    height: 36px;
    color: #2b2b2b;
    margin-left: 98px;
    margin-bottom: 50px;
}
.bttn3:hover{
    background-color:#6e6e6e;
    width:69px;
    height:41px;
}
.txti{
    height: 170px;
}
.yukars{
    margin-right: 5px;
}
.bttn4{
    background-color: white;
    -webkit-box-shadow: 0 5px 8px -3px;
    border: 1px solid #6e6e6e;
    color: #2b2b2b;
    height: 38px;
    width: 147px;
    margin-left: 135px;
    margin-bottom: 50px;
}
.bttn4:hover{
    background-color:#6e6e6e;
    width:152px;
    height:43px;
}
.dznle{
    margin-right: 5px;

}
.formabcd{
    margin-top: 150px;
    margin-bottom: 100px;
}









body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
