﻿@media(min-width: 768px) {

    .nvbr1 {
        margin-top: 9px !important;
    }

    .nvbr2 {
        margin-top: 17px !important;
    }

    .nvbr3 {
        margin-left: 140px;
        margin-right: 15px;
    }

    .nvbr4 {
        margin-top: 6px;
    }
}


@media(max-width: 768px){
    .kckken{
        text-align:left !important;
    }

}




.navbyt{
        height: 70px;
    }

.navrenk{
        border: none !important;
    background-color: #2B2B2B !important;
 }
.renk {
    color:white !important;
}
.renk:hover{
    color:#6E6E6E !important;
    
}
.sbt{
    border-right: 1px solid white;
    padding-right: 6px;
}
.footrenk{
    color:#6e6e6e;
    margin-right: 13px;
}
.footrenk:hover{
    color:#2b2b2b;
}
.kucukrnk{
    background-color:#2B2B2B;
}
.resim{
    margin-top: 20px;
    width: 100%;
}
.rsmbyt{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.rowicin{
    margin-top: 50px;
    text-align: center;
    word-wrap: break-word;
}
.ulicin{
 text-align: left;
}
.yazistyle{
        font-family: cursive, sans-serif;

}
.yzrenk{
    color:#2b2b2b;
}

.rsmiabc{
    padding-right: 0px !important; 
    padding-left: 0px !important; 
}









body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

