﻿@model webodev3.Models.IndexViewModel
@{
    ViewBag.Title = "Admin Paneli";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 admn yazistyle yzrenk">
            <h1 class="yzrenk yazistyle">ADMİN PANELİNİZ</h1>
            <p>
                Bu panelde sayfamıza eklemek istediğiniz,bizimle paylaşmak istediğiniz
                önemli bilgiler varsa sayfamıza ekleyebilirsiniz.Tüm yazdıklarınız site yöneticisi tarafından
                kontrol edilecektir.Bu yüzden cümlelerinizi seçerek kullanmanızı ve en az oranda hata
                yapmanızı rica ederiz.Bu panelden yazdığınız yazıları düzenleyebilir,yeni paylaşımlar
                ekleyebilir ve yalnızca kendi paylaştığınız yazıları silebilirsiniz.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Ekle", "Index","Manage", new { @class = "eklme" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 yzrenk yazistyle altcol">
            <h1 class="yzrenk yazistyle">KEDİLERİN BIYIKLARI BAKIN NE İŞE YARIYOR</h1>
            <p class="pye">
                Kedilerin bıyıkları ile en az diğer duyu organları gibi çevresindeki değişiklikleri veya
                mevcut olan durumu algılayabilmeleri ve farklı amaçlar için bıyıkları sayesinde aldıkları
                çevreye ait bilgileri algılayabildikleri tespit edilmiştir. Vibrissae adı verilen bu yapılar
                çok hassas duyu organları olup çok küçük hava akımlarını bile algılayabilmektedir.
                Kedilerin doğal yaşamları gereği geceleri avlanabilmeleri hayatlarını sürdürebilmeleri
                açısından onlara önemli bir avantaj sağlamaktadır. Aynı şekilde bıyıklarının sayesinde de
                kediler etraflarındaki nesneleri ve olup biteni gecenin en karanlık anlarında bile rahatlıkla
                algılayabilmektedirler.
                Kedilerin karanlıkta bile etraflarındaki sert nesneleri algılayabilmelerini sağlayan
                bıyıklarının bu görevi nasıl başardığı elbette akıllara takılan ilk sorudur. Cevap aslında
                zannedildiği kadar karmaşık değildir. Kedilerin karanlıkta hızlı hareket edebilmelerini kolaylaştıran
                bu özellikleri bıyıklarının hava akımlarını algılamaları ile gerçekleşmektedir. Dış ortamda
                bulunan hava akımı çevredeki nesnelere çarptığında bu nesnelerden geri yansıyarak hava akımında
                değişiklikler yani ters akıntı(anafor) meydana getirmektedir. Bu durum da kedilerin etraflarındaki
                nesneleri görmemelerine rağmen varlıklarını algılayabilmelerini sağlayan bir radar sinyali gibi
                tarayabilmelerini sağlamaktadır.
            </p>
            @Html.ActionLink("Düzenle", "Index", "Manage", new { @class = "eklme" })
            @Html.ActionLink("Sil", "Index", "Manage", new { @class = "eklme" })
        </div>
    </div>
</div>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
       
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
    
