﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navrenk navbyt">
        <div class="container kucukrnk">
            <div class="navbar-header nvbr1">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OnlarıTanıyalım", "Index", "Home", new { area = "" }, new { @class = "navbar-brand renk" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav nvbr1 ">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home", new { area = "" }, new { @class = "renk" })</li>
                    <li>@Html.ActionLink("Cinsler", "Cinsler", "Home", new { area = "" }, new { @class = "renk" })</li>
                    <li>@Html.ActionLink("Onlar Da Kedi", "Onlardakedi", "Home", new { area = "" }, new { @class = "renk" })</li>
                    <li>@Html.ActionLink("Galeri", "Galeri", "Home", new { area = "" }, new { @class = "renk" })</li>
                    <li>@Html.ActionLink("Hakkımda", "Hakkimda", "Home", new { area = "" }, new { @class = "renk" })</li>

                </ul>
                <div class="nav navbar-nav navbar-right col-md-4 nvbr2">
                    <div class="col-md-3 nvbr8">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">EN</a></li>
                            </ul>
                        </div>
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>


            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            @Html.ActionLink("Anasayfa", "Index", "Home", new { @class = "footrenk" })
            @Html.ActionLink("Galeri", "Galeri", "Home", new { @class = "footrenk" })
            @Html.ActionLink("Hakkımda", "Hakkimda", "Home", new { @class = "footrenk" })
            <p>&copy;copyright @DateTime.Now.Year Tüm Hakları Saklıdır</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
