﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="admin">
            @Html.ActionLink("Admin Paneliniz", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" ,@class="renkadmn"})
        </li>
        <li class="admin"><a class="renkadmn" href="javascript:document.getElementById('logoutForm').submit()">Çıkış</a></li>
    </ul>
    }
}
else
{
    <div class="nvbr4">

        @Html.ActionLink("Üye Ol", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "renk sbt" })
        @Html.ActionLink("Giriş Yap", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "renk" })

    </div>
}
