﻿@model webodev3.Models.Cinsler
@{
    ViewBag.Title = "Cinsler";
}

<div class="container">
    <div class="row odk">
        <div class="col-md-12">
            <h1 class="yazistyle">KEDİ CİNSLERİ</h1>
        </div>
    </div>
    <div class="row ustrow">
        <div class="col-md-6  yazistyle">
            <img class="genelrsm" src="~/images/british1.jpg" align="left" />

            <h3 class="yazistyle">British Shorthair</h3>
            <p>
                British Shorthair ırkı kedilerin tüyleri yoğun ve peluş gibidir.
                Orta boy kulakların uçları yuvarlak, taban kısımları ise geniştir.
                Birbirinden tamamen ayrık olan kulaklar, başın biçimiyle uyumludur.
                Gözleri iri, yuvarlak ve bakırdan altına birçok renk tonunda olabilmektedir.
                Kafa yapıları yuvarlak, yanakları tombul ve vücutları iri ve kaslıdır.
                Bu ırkın geniş bir göğsü, orta boy bacakları, yuvarlak patileri ve peluş
                gibi kuyrukları vardır. Tüyleri kısadır ve düğümlenmez.Uyumlu ve dayanıklı
                bir kedi olan British Shorthair tam anlamıyla bir şehir kedisidir.
                Çocuklarla arası son derece iyidir çünkü sabırlı ve toleranslı bir kedidir.
                Nadiren saldırganlık ve tırmalama eğilimi gösterirler. Ev içi kedisi olmaya
                kolayca uyum sağlarlar ve sokağa fazla ilgi duymazlar. İlgi meraklısı
                değillerdir fakat oyun oynamak isterlerse, bunu sahiplerine gayet açık bir
                şekilde anlatabilirler. Kucakta oturmaktansa, sahiplerinin yakınında
                oturmayı tercih ederler.
            </p>

        </div>
        <div class="col-md-6  yazistyle">
            <img class="genelrsm" src="~/images/birman1.jpg" align="left" />

            <h3 class=" yazistyle">Birman</h3>
            <p>
                Bu güzel kedi elbette güzel bir efsaneyi hakediyor. Kimilerince Bruma’nın
                Kutsal Kedisi olarak da bilinen bu kedi, efsaneye göre çarpıcı
                güzelliğini, mavi gözlü bir tanrıçadan almıştır. Tapınak kedisi
                olan Birman, rahibine olan sevgisi ve bağlılığından ötürü tanrıça
                tarafından ödüllendirilmiş; beyaz kürkü altın rengine, sarı gözleri
                ise maviye dönüştürülmüştür. Patileri saflığın simgesi olan beyaz renkte
                kalmaya devam etmiştir. O günden beri tanrıçanın bu değişimlerine sahip
                olarak doğan tapınak kedilerinin, ölen rahibin ruhunu taşıdığı söylenir.
                Eğer siyamların keskin desenlerini seviyor fakat seslerinden hoşlanmıyorsanız
                Birman tam size göre bir kedi olabilir. Sakin ve uysal bir kedi olan
                Birman insanları sever ve onları odadan odaya takip eder. Birmanları
                yapacağınız herşeye dahil olmak isteyen kediler olarak kabul edin ve
                Siyam’lar kadar patronvari olmadıkları için şükredin.
            </p>
        </div>
    </div>
    <div class="row ustrow">
        <div class="col-md-6 yazistyle">
            <img class="genelrsm" src="~/images/chinchilla1.jpg" align="left" />

            <h3 class=" yazistyle">Chinchilla</h3>
            <p>
                Bu kedinin ismi kürkünün benzerliği sebebiyle Güney Amerika kökenli
                bir kemirgen olan Chinchilla'dan gelir.En eski Chincilla kedisi Silver
                Lambkin adındaki kedidir.Bu kedi 1888 Londra Cyristal Palace kedi
                şovunda ödüllerin çoğunu kazanarak dikkatleri üzerine çekmiş ve
                türünün tanıtımında büyük rol oynamıştır.Persian ırkı içinde bir renk
                varyantı olarak değerlendirenler vardır. fakat aralarında yüz şekli
                bakımından büyük farklılıklar vardır. Chincihilla'lar İngiliz kökenli
                Sterling kedisi ile de karıştırılmadıktadırlar, bunun sebebi Chincihilla
                türünün Sterling türünün atası olmasıdır.Chinchilla ırkı çoğunlukla sakin
                ve uysallığıyla bilinen kedilerdir. Melodik,yumuşak ses tonları vardır.
                Sevgilerini belli ederler,ilgi görmekten hoşlanılar ve sahiplerine karşı
                büyük bir sevgi beslerler.Hassas,kırılgan ve naif görünselerde son derece
                sağlıklı ve dayanıklıdırlar Şans buldukça ağaca tırmanmak gibi
                aktivitelerden mutlu olurlar,Evde yaşamayı tercih ettikleri için
                her türlü eve rahatca alışabilirler.
            </p>
        </div>
        <div class="col-md-6 yazistyle">
            <img class="genelrsm" src="~/images/NorwegianForest1.jpg" align="left" />

            <h3 class=" yazistyle">Norwegian Forest</h3>
            <p>
                İskandinav yarım adasında 1930 yılında keşfedilmişlerdir.O bölgenin
                yerli kedileridirler.soğuklara karşı dayanıklıdırlar.Norwegian Forest
                kedileri,kedilerin yüzyıllar öncesine dayanan özelliklerini,günümüz
                dünyasına kanıtlayan bir karaktere sahiptir.Sıcakkanlı,oyuncu,dengeli
                bir mizaçları vardır.Diğer hayvanlarla ve çocuklarla anlaşabilirler.Yumuşak
                bir ses tonuna sahiptirler. Ev ortamında ve doğal ortamda rahatça yaşayabilirler,
                ağaca tırmanmaktan hoşlanırlar.Kendilerine güvenen kediledir. 3-9 kilo arasında
                ağırlıkları olabilir. Üçgen yapılı kafaları vardır.kafaları büyüktür,kulakları
                ise kare biçiminde ve küçüktür,yüzleri yassı burunları düzdür.Çeneleri güçlü,
                küçük ve yuvarlaktır.Vücutlarının gelişmiş bir kas yapısı vardır. Kulakları
                dik durur ve az şekilde dışa dönüktürler.Yuvarlak,geniş patileri vardır.
            </p>
        </div>
    </div>
    <div class="row ustrow">
        <div class="col-md-6 yazistyle">
            <img class="genelrsm" src="~/images/scottish1.jpg" align="left" />

            <h3 class=" yazistyle">Scottish Fold</h3>
            <p>
                Scottish Fold Kedisi, İnsanlarla ilişkileri son derece iyi olan çok
                sempatik bir kedi cinsidir. Kısa sürede bulunduğu ortama uyum sağlar.
                Onu yetiştirmek çok kolaydır ve ailede herkese sevecen yaklaşır, kendini
                sevdirir. Ancak sahibini kendisi seçer. Sahibiyle oyun oynamaktan çok
                hoşlanan Scottish Fold Kedisi, kendine atılan bir oyuncağı bir köpek gibi
                yakalar ve geri getirir. Scottish Fold sahipleri, bu şekilde karşılıklı
                olarak kendileriyle oynayan kedilerinin bu özelliğinden çok memnundurlar.
                Scottish Fold Kedileri, kendi başlarına kaldıkları zamanlarda dahi sıkılmazlar
                ve oyun oynarak vakit geçirirler. Kedilerine ilgi göstermeye ve oyun oynamaya
                fazla vakit ayıramayan sahipler için, Scottish Fold Kedisine bol bol oyuncak
                temin etmek akıllıca olacaktır.
            </p>
        </div>
        <div class="col-md-6 yazistyle">
            <img class="genelrsm" src="~/images/somali1.jpg" align="left" />

            <h3 class=" yazistyle">Somali</h3>
            <p>
                Abyssinian ırkı ile çok fazla benzerlik taşımaktadırlar.Somali ırkının
                kökenini belirlemek için yapılan araştırmalar hem kısa tüylü hem uzun
                tüylü genleri taşımakta olduklarını ortaya çıkmıştır.Oldukça asildirler,
                isteklerini kolayca anlatabilen zeki kedilerdir. Uyumlu karakterleri sebebiyle
                en çok tercih edilen kedilerden biridir. Küçük kafa yapıları ve biçimleri
                burunları bu ırkın en belirgin özelliğidir,kulakları sevimli gözükür ve dik
                dururlar.Gözlerinin şekli badem'e benzer ve geniştir,gözlerinin kenarları
                siyah çizgilerle çevrilirdir ve bu çizgiler kulaklara ilerler.Beslenme
                alışkanlıklarında taze et çok önemlidir. Farlı bir yiyecek verdiğiniz zaman
                kapris yapabilir ve doğal diyete başvurabilirler.
            </p>
        </div>
    </div>
</div>

