﻿@model webodev3.Models.Galeri
@{
    ViewBag.Title = "Galeri";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 glr">
            <h1 class="yazistyle">G A L E R İ</h1>
        </div>
    </div>
    <div class="row gnlrsm">
        <div class="col-md-4"><img src="~/images/cat1.jpg" /></div>
        <div class="col-md-4"><img src="~/images/cat2.png" /></div>
        <div class="col-md-4"><img src="~/images/cat3.jpg" /></div>
    </div>
    <div class="row gnlrsm">
        <div class="col-md-4"><img src="~/images/cat4.jpg" /></div>
        <div class="col-md-4"><img src="~/images/cat5.jpg" /></div>
        <div class="col-md-4"><img src="~/images/cat6.jpg" /></div>
    </div>
</div>