﻿

@{
    ViewBag.Title = "Hakkimda";
}

<div class="container">
    <div class="row hkkımda">
        <div class="col-md-12 yazistyle">
            
            <h1 class="yazistyle">H A K K I M D A</h1>
            <p>
                Ben büyük bir kediseverim.Sakarya üniversitesinde bilgisayar mühendisliği okuyorum.Aslen İzmirliyim
                ama Sakarya'da yaşıyorum.Bundan 2 sene önce üniversite sınavına hazırlanırken bir kediyi sahiplendim ve
                anladım ki kediler en iyi dostlar.Bütün sınav stresimi kedimi severek gideriyordum.Kediler gerçekten
                insana çok iyi geliyor.Yalnız kalmayı hiç sevmezler.Ama artık bir kedim yok.
                
            </p>
        </div>
    </div>
</div>

