﻿@model webodev3.Models.Anasayfa
@{
    ViewBag.Title = "Anasayfa";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 rsmbyt">

            <img class="img-responsive resim" alt="Responsive image" src="~/images/Black-and-White-Cat-l.jpg" />
        </div>
    </div>
</div>

<div class="container">

    <div class="row rowicin kckken">
        <div class="col-md-12 yazistyle">
            <h1 class="yzrenk yazistyle">MIR MIR KEDİCİK</h1>
            <p>
                Dünyada bundan daha güzel bir ses var mıdır? Elinizi o güzelim tüylerin üzerinde gezdirirken gözlerini
                yumar ve kendisini güvenliğinize teslim ederek mırlamaya başlar. Adeta “ben de seni seviyorum” der.
                Kedilerin neden mırladığı bilim adamlarının da ilgi
                alanına girmiş ve bu konuda epeyce bir araştırma yapılmış, Görülmüş ki, tüm yavru kediler,
                mırlama yeteneğine sahip olarak doğuyorlar.Kedilerin neden mırladıklarını açıklamadan önce nasıl
                mırladıklarını açıklayalım. Bu konuda bilim adamları arasında tam bir fikir birliği bulunmamakta.
                Bilim adamlarının kedilerin mırlama tekniği ile ilgili olarak tek mutabık oldukları husus, kedilerin
                bu sesi bir titreşim ile çıkardıkları. Bazı bilim adamları gırtlak ya da diyaframın titretilmesi ile
                bu sesin çıkarıldığını iddia ederken, bazı bilim adamları ise kedilerin göğüs bölgelerindeki kan
                damarlarını titreterek bu sesi çıkardıklarını düşünüyor. Öte yandan kedilerin yüz ve baş kemiklerini
                harekete geçirerek mırlama sesini çıkardığını düşünen bilim adamları da bulunmakta.
            </p>
        </div>
    </div>
    <div class="row rowicin kckken">
        <div class="col-md-12 yazistyle">
            <h1 class="yzrenk yazistyle">KEDİLERİN BIYIKLARI BAKIN NE İŞE YARIYOR</h1>
            <p>
                Kedilerin bıyıkları ile en az diğer duyu organları gibi çevresindeki değişiklikleri veya
                mevcut olan durumu algılayabilmeleri ve farklı amaçlar için bıyıkları sayesinde aldıkları
                çevreye ait bilgileri algılayabildikleri tespit edilmiştir. Vibrissae adı verilen bu yapılar
                çok hassas duyu organları olup çok küçük hava akımlarını bile algılayabilmektedir.
                Kedilerin doğal yaşamları gereği geceleri avlanabilmeleri hayatlarını sürdürebilmeleri
                açısından onlara önemli bir avantaj sağlamaktadır. Aynı şekilde bıyıklarının sayesinde de
                kediler etraflarındaki nesneleri ve olup biteni gecenin en karanlık anlarında bile rahatlıkla
                algılayabilmektedirler.
                Kedilerin karanlıkta bile etraflarındaki sert nesneleri algılayabilmelerini sağlayan
                bıyıklarının bu görevi nasıl başardığı elbette akıllara takılan ilk sorudur. Cevap aslında
                zannedildiği kadar karmaşık değildir. Kedilerin karanlıkta hızlı hareket edebilmelerini kolaylaştıran
                bu özellikleri bıyıklarının hava akımlarını algılamaları ile gerçekleşmektedir. Dış ortamda
                bulunan hava akımı çevredeki nesnelere çarptığında bu nesnelerden geri yansıyarak hava akımında
                değişiklikler yani ters akıntı(anafor) meydana getirmektedir. Bu durum da kedilerin etraflarındaki
                nesneleri görmemelerine rağmen varlıklarını algılayabilmelerini sağlayan bir radar sinyali gibi
                tarayabilmelerini sağlamaktadır.
            </p>
        </div>
    </div>
    <div class="row rowicin kckken">
        <div class="col-md-12 yazistyle">
            <h1 class="yzrenk yazistyle">BU SEVİMLİ DOSTLARIMIZI SAHİPSİZ BIRAKMAYALIM</h1>
            <p>
                Kedi sahiplenmek yeni bir ev arkadaşı, hayat ortağı demektir. Asla bir kedinin efendisi olamaz,
                onlara istediklerinizi yaptıramazsınız. O canı isterse kendini sevdirir, kendi miyav kalbinden
                çok daha fazlasıyla da sizi sevmeye devam eder.İşte size kedileri sahiplenmeniz için nedenler;
                <ul class="ulicin">
                    <li>Kedi mırlamasının strese, ağrılara ve birçok hastalığa iyi geldiği kanıtlanmıştır</li>
                    <li>Her gün türlü sevimlilikleri ve oyunlarıyla sizi kahkahalara boğarlar, ev artık daha eğlenceli bir yer haline gelir</li>
                    <li>Üzgün olduğunuzda bunu anlar, kucağınıza gelip size sevgi gösterirler</li>
                    <li> Uyanma saatinizi bilirler, her sabah çirkin alarm sesi yerine ıslak bir kedi burnu veya yumuşacık tüyler tarafından okşanarak uyanabilirsiniz</li>
                    <li>Siz işe gidince ona yeterli mama ve su bırakırsanız onlar kendilerini oyalama ve eğlendirme yollarını bulur, siz gelene kadar enerji toplarlar</li>
                    <li>Ve en önemlisi de kedi sahiplenip, ona iyi bakarak bir canlının hayatını kurtardığınızı bilir, kendinizi daha iyi bir insan gibi hissedersiniz</li>
                </ul>

            </p>
        </div>
    </div>
</div>