﻿@model webodev3.Models.Onlar_da_kedi
@{
    ViewBag.Title = "Onlardakedi";
}

<div class="container">
    <div class="row odk">
        <div class="col-md-12">
            <h1 class="yazistyle">ONLAR DA KEDİ</h1>
        </div>
    </div>
    <div class="row ustrow">
        <div class="col-md-6 yazistyle">
            <img class="genelrsm" src="~/images/aslan1.jpg" align="left" />
            <h3 class="yazistyle">Aslan</h3>
            <p>
                Kedigiller familyasından olan aslanın bilimsel adı "Panthera leo" dur.
                Derisi açık kahverengi ve sarı karışımıdır. Koyu kahverengi renge sahip aslanlarda
                vardır ancak bunlar diğerlerine oranla çok daha seyrek bulunur. Erkeklerin, omuzlarına
                kadar dökülen, heybetli bir yelesi bulunur. Yeledeki kıllar sert ve dayanıklıdır. Erkek aslan tam bir
                güç sembolüdür. Omuzları, ayakları ve göğsü son derece kaslı bir yapıya sahiptir. Bir pençe
                darbesiyle ortalama büyüklükte bir hayvanın omurgasını kırabilir. Bu kadar güçlü yapısına
                rağmen, özel dizayn edilmiş pençeleri üstünde avına son derece sessiz bir şekilde yaklaşır.
                Tırnaklar çok keskin bir yapıya sahiptir ve istediğinde içeri çekebilir.
                Çok az ışıkta bile ileri bir görüş kabiliyetleri vardır. Böylece, aslanlar geceleri de avlanabilir.
                Gözlerini bir taraftan diğerine çok fazla hareket ettiremedikleri için, yan taraftaki
                bir nesneye bakmak için kafalarını döndürmek zorunda kalırlar.
            </p>

        </div>
        <div class="col-md-6 yazistyle">
            <img class="genelrsm" src="~/images/cita1.jpg" align="left" />
            <h3 class="yazistyle">Çita</h3>
            <p>
                Vücudunda benekler ve gözlerinin altından ağzına ve çenesine inen siyah çizgiler vardır.
                Bu çizgiler güneş ışınlarını çeker ve böylece diğer yırtıcıların aksine günün en sıcak
                saatlerinde bile daha rahat bir görüş ile avlanabilirler. En bilinen özelliği hızlı koşmasıdır.
                Dünyanın en hızlı koşan memelisidir.
                Aslanlar gibi sürü halinde veya saklanarak avlanmak yerine, yüksek hızının avantajını
                kullanarak avlanan bir hayvandır. Sıfırdan 108 km/saat hıza sadece 3,1 saniyede
                erişebilmektedir. 460 metreden fazla koştuğu durumlarda vücut ısısı 46 derecenin üstüne
                çıkar ve bu da çitanın beynine zarar verebilir. Bu yüzden avlanma sırasındaki koşusu
                genellikle bir dakikadan daha kısa sürer. Uzmanlar dünyada 10.000'den az vahşi çita olduğunu
                düşünmektedir.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 yazistyle">
            <img class="genelrsm" src="~/images/kaplan1.jpg" align="left" />
            <h3 class="yazistyle">Kaplan</h3>
            <p>
                Çoğu kaplan kamuflajlarının uygun uyum sağladığı ve hızlı veya daha çevik avları
                yakalamalarının daha kolay olduğu ormanlarda ve otlaklarda yaşar. Hindistan'da, Türkiye'de,
                (Türkiye'de 1970'ten beri sadece 3 kez görüldü.) Çin'de neredeyse tüm Asya'da yaşarlar.
                Büyük kediler arasında sadece kaplan ve jaguar iyi yüzücülerdir. Kaplanlar sık sık su
                birikintilerinde, göllerde ve nehirlerde yıkanırlarken bulunurlar. Kaplanlar yalnız
                avlanırlar ve birincil olarak geyik, yaban domuzu, gaur, ve manda gibi orta ve büyük boyutlu
                otçullarla beslenirler. Buna rağmen arada sırada küçük avları da yakalarlar.
                Kaçak avlanma ve ortamlarının yok olması kaplanların sayılarını büyük oranda azalttı.
                Bir yüzyıl önce dünyada 100 000'den fazla kaplan varken bugün bu sayı 2500 üreyebilen
                bireyi geçmez. Hiçbir kaplan nüfusu 250 üreyebilen üyeden fazlasına sahip değil.
                Tüm kaplan alt türleri tehlike altındaki türler listesinde yer almaktadır.
            </p>
        </div>
        <div class="col-md-6 yazistyle">
            <img class="genelrsm" src="~/images/puma1.jpg" align="left" />
            <h3 class="yazistyle">Puma</h3>
            <p>
                Puma,Dağ aslanı,Kuzey ve Güney Amerika'da yaşayan,kedigiller familyasından yırtıcı
                bir hayvan türüdür. Bu büyük ve yalnız dolaşan kedi kuzeyde Kanada'nın Yukon bölgesinden
                güneyde And Dağları'nın güneyine kadar oldukça geniş bir alanda yaşar. Bulunduğu çevreye
                uyum sağlayabilen puma Amerika kıtasındaki belli başlı her habitatta yer alır. Aşırı avlanma
                ve doğal yaşam alanlarındaki insan yerleşmeleri sonucu tarihi olarak bulundukları bölgelerde
                sayıları azalmıştır. Ancak bazı alanlarda son zamanlarda yapılan koruma çalışmaları ile
                popülasyonlarının arttığına rastlanmıştır.Çok geniş bir alana yayılan puma değişik
                habitatlarda çok çeşitli renklerde ve cüssededir. Amerika kıtasında jaguardan sonra ikinci
                en büyük kedi olan puma, kaplan, aslan ve jaguardan sonra dünyanın en büyük dördüncü
                kedisidir. Kuzey Amerika'daki pumalar tropik leoparlardan daha da büyük olsa bile puma
                kükreyemediği için büyük kediler arasında sayılmaz ve Panthera cinsi içinde değil de Puma
                cinsi içinde sınıflandırılır.
            </p>
        </div>
    </div>
</div>

