﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navrenk navbyt">
        <div class="container kucukrnk">
            <div class="navbar-header nvbr1">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OnlarıTanıyalım", "anasayfa", "Home", new { area = "" }, new { @class = "navbar-brand renk" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav nvbr1 ">
                    <li>@Html.ActionLink("Anasayfa", "anasayfa", "Home", new { @class = "renk" })</li>
                    <li>@Html.ActionLink("Cinsler", "anasayfa", "Home", new { @class = "renk" })</li>
                    <li>@Html.ActionLink("Onlar Da Kedi", "anasayfa", "Home", new { @class = "renk" })</li>
                    <li>@Html.ActionLink("Galeri", "anasayfa", "Home", new { @class = "renk" })</li>
                    <li>@Html.ActionLink("Hakkımda", "anasayfa", "Home", new { @class = "renk" })</li>

                </ul>
                <div class="nav navbar-nav navbar-right col-md-4 nvbr2">
                    <div class="col-md-3 nvbr3">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">EN</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nvbr4">
                        @Html.ActionLink("Üye Ol", "anasayfa", "Home", new { @class = "renk sbt" })
                        @Html.ActionLink("Giriş Yap", "anasayfa", "Home", new { @class = "renk" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            @Html.ActionLink("Anasayfa", "anasayfa", "Home", new { @class = "footrenk" })
            @Html.ActionLink("Galeri", "anasayfa", "Home", new { @class = "footrenk" })
            @Html.ActionLink("Hakkımda", "anasayfa", "Home", new { @class = "footrenk" })
            <p>&copy;copyright @DateTime.Now.Year Tüm Hakları Saklıdır</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>